/*Gallery Styling*/

#gal_img {
    border-radius: 5px;
    transition: transform .5s ease;
    overflow:hidden;
}


#gal_img:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

.show {
    display:block;
}

.btn {
    border:none;
    outline:none;
    padding: 12px 16px;
    background-color: white;
    cursor:pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color:#ddd;
}

.btn.active {
    background-color:dodgerblue;
    color:white;
}

.btn:focus {
    background-color: #ddd;
}

/*Bootstrap style for jumbotron heading*/
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
